@import url('https://fonts.googleapis.com/css?family=Playfair+Display');=Abril+Fatface|Playfair+Display');
body  {
    color: rgb(34, 173, 168);
}

h1  {
   color: rgb(10, 10, 100);
   font: 28px;
   font-family: "RooneySans-Regular", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
}

h2  {
   color: rgb(179, 17, 17);
   font: 25px;
   font-family: 'Playfair Display', serif;
}

h3  {
   color: rgb(230, 128, 145);
   font-size: 22px;
}
 

p  {
   color: rgb(6, 57, 70);
   font-size: 20px;
}

a   {
   color: rgb(6, 57, 70);
}

a:hover{
   color: yellowgreen;
}




.content {
    background-color: rgb(250, 128, 114);
    Float: left;
    width: 60%;
    height: 800px;
    
   
}

.sidebar{
    background-color: rgb(252, 192, 203);
    float: right;
    width: 37%;
    height: 800px;
    padding-left: 8px;
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 5px;
}

.pengertian{
    
    background-color: rgba(255, 234, 208,20);
    float: left;
    width: 50%;
    height: 600px;
    text-align: center;
}

/*unsur-unsur*/
.unsur h4 {
   margin: 0;
   margin top: 50px; 
}

.unsur{
    background-color: rgb(233, 150, 122,20);
    float: left;
    width: 50%;
    height: 600px;
    text-align: center;
}
.unsur1{
    background-color: rgb(135, 206, 250);
    width: 95%;
    height: 120px;
    
}
.unsur2{
    background-color: rgb(255, 227, 200);
    width: 95%;
    height: 120px;
    
}
.unsur3{
    background-color: rgb(135, 206, 250);
    width: 95%;
    height: 120px;
    
}
.unsur4{
    background-color: rgb(255, 227, 200);
    width: 95%;
    height: 120px;
    
}

/*footer*/
.footer{
    background-color: rgb(245, 245, 223);
    width: 100%;
    height: 700px;
}
/*footer1*/
.footer-1{
    background-color: rgb(105, 105, 105);
    border-style: inset;
    width: 100%;
    height: 400px;
 
.gambar1{
    float: left;
    width: 243px;
    height: 126px;
    margin-top: 27px;
    
.foot-msg .txt{
    height: 54px;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    
 .foot-msg .ps{
    margin-right: 4px;
    width: 124px;
    height: 36px;
     
  .foot-msg .apple{
    width: 124px;
    height: 36px;
     
 /*footer2*/
.footer-2{
    background-color: rgb(105, 105, 105);
    border-style: inset;
    width: 100%;
    height: 200px; 
 
.gambarlink{
    margin-top: 38px;
    text-align: center;
    
.footer-3{
    background-color: rgb(105, 105, 105);
    border-style: inset;
    width: 100%;
    height: 200px;   
    
.footer-3 ul{
    width: 100%;
    height: 45px;
