@import url('https://fonts.googleapis.com/css?family=Playfair+Display');=Abril+Fatface|Playfair+Display');
body  {
    background-color: rgb(34, 173, 168);
}
h1  {
   color: rgb(10, 10, 100);
   font: 28px;
   font-family: "RooneySans-Regular", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
   
}
h2  {
   color: rgb(179, 17, 17);
   font: 25px;
   font-family: 'Playfair Display', serif;
}
h3  {
   color: rgb(230, 128, 145);
   font-size: 22px;
}
p  {
   color: rgb(0, 0, 255);
   font-size: 20px;
}
a   {
   color: rgb(6, 57, 70);
}
a:hover{
   color: yellowgreen;
}
ul  {
   color: rgb(151, 10, 76);
   font-size: 18px;
}
ol  {
   color: rgb(180, 52, 73);
   font-size: 20px;
}
div {
    color: rgb(250, 240, 230);
    background-color: rgb(240, 128, 128);
}
